@charset "UTF-8";

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: rgb(70, 70, 70);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 260px;
    height: 500px;
    
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
    
    transition: width 0.2s, height 0.3s;
    transition-timing-function: ease;
}

div#imagem {
    display: block;
    background: rgb(70, 70, 70) url('../imagens/entrada.jpg') bottom;
    background-size: cover;
    height: 200px;
}

div#formulario {
    display: block;
    padding: 10px;
}

div#formulario h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario p {
    font-size: 0.8em;
}

div.campo {
    background-color: rgb(130, 130, 130);
    border-radius: 7px;
    height: 40px;
    margin: 5px 0px;
}

div.campo > label {
    display: none;
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    font-weight: bolder;
    width: 100%;
    height: 40px;
    background-color: rgb(130, 130, 130);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
    color: white;
    border: 0.5px solid rgb(70, 70, 70);
    border-radius: 7px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: rgb(70, 70, 70);
}

form > a.botao {
    display: block;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: black;
    width: 100%;
    height: 40px;
    border: 1px solid rgb(70, 70, 70);
    border-radius: 7px;
    padding-top: 7px;
    margin-top: 5px;
}

form > a.botao:hover {
    background-color: rgb(130, 130, 130);
    color: white;
}

form > a.botao > span {
    font-size: 1.1em;
}